# Handling pandas in the output

Pandas is a widely used data manipulation library in the data science community. One common use case is to display the results of a data analysis in a Pandas DataFrame.

By default, the Pandas DataFrame output will appear unformatted in the documentation. For example, take a look at the sample below which displays the head of a dataframe.

In [ ]:
# | hide

import warnings

warnings.simplefilter(action="ignore", category=FutureWarning)

In [ ]:
import pandas as pd

df = pd._testing.makeDataFrame()
df.head()

                   A         B         C         D
ivg9ixSxDo  1.264618  0.203053 -2.442362 -0.516247
bRNJF1RHWH -0.787963  0.854282 -0.869654 -0.728221
vliKOHWXsI  0.258019  0.483411  0.763769 -0.492340
SYL8OXVAJn -2.283325  1.527951 -0.377158  0.842766
RJodiV7XBV  0.424837  0.597266 -1.109220 -0.957034

## Material styled table

A simple solution to enhance the appearance of the Pandas DataFrame table is to use the `DataFrame.style` attribute while displaying the output.

In [ ]:
df.head().style