# Handle pandas in the output

Pandas is a widely used data manipulation library in the data science community. One common use case is to display the results of a data analysis in a Pandas DataFrame.

However, when generating technical documentation, the table generated by Pandas can be simple and unformatted. For example, take a look at the sample below which displays the head of a dataframe.

In [ ]:
# | hide

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [ ]:
import pandas as pd

df = pd.util.testing.makeDataFrame()
df.head()

                   A         B         C         D
mth2Z9DYCK -1.442283  1.868713  0.226126 -1.201331
nZBctenVg7 -0.392022 -0.142017  0.106757  0.157622
YlmbCTsyu9 -1.782496  1.114046  0.372066 -0.642088
zgbwO9KKBT -2.006090  0.644620 -1.512846 -0.789001
PbH76garFz  1.971565  1.000324 -0.375615  1.084312

The table appears to be plain and lacking the material design style.

## Material styled table

A simple solution to enhance the appearance of the Pandas DataFrame table is to use the `DataFrame.style` attribute while displaying the output.

In [ ]:
df.head().style