# Handling pandas in the output

Pandas is a widely used data manipulation library in the data science community. One common use case is to display the results of a data analysis in a Pandas DataFrame.

By default, the Pandas DataFrame output will appear unformatted in the documentation. For example, take a look at the sample below which displays the head of a dataframe.

In [ ]:
# | hide

import warnings

warnings.simplefilter(action="ignore", category=FutureWarning)

In [ ]:
from pandas.util.testing import makeDataFrame

df = makeDataFrame()
df.head()

/Users/harishm/.pyenv/versions/3.10.4/lib/python3.10/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

                   A         B         C         D
CEX5vOEZ8L  0.871330  0.053811 -1.239818 -1.835587
1WBdLtSLB2 -0.740417  1.674745 -0.640703 -0.503440
utikYTOwRR -0.076731 -0.479891 -0.389481  0.275758
HfGJWwjBnA  0.846709 -0.891535  1.336702 -2.084105
GWke3cwOID -0.369382  0.519347  1.605516  0.215863

## Material styled table

A simple solution to enhance the appearance of the Pandas DataFrame table is to use the `DataFrame.style` attribute while displaying the output.

In [ ]:
df.head().style